
.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* padding-left: 15px;
    padding-right: 15px; */
}

@media screen and (min-width: 768px) {
    .form {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .form {
        margin-top: 50px;
        width: 1150px;
    }
}


.sub {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.topicThumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EBEBEB;
    height: 22px;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.topicThumb:not(:last-child){
    margin-right: 10px;
    
}

@media screen and (min-width: 768px) {
    .topicThumb {
        height: 24px;
        padding: 3px 6px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .topicThumb {
        height: 26px;
        padding: 3px 8px;
    }
}

.xBtn {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.topicName {
    font-family: "Roboto";
    font-size: 12px;
    color: #707070;
}

@media screen and (min-width: 768px) {
    .topicName {
        font-size: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .topicName {
        font-size: 16px;
    }
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #383838;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

.subName {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #383838;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .subName {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .subName {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.name {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    color: #383838;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .name {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .name {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.descr {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 10px;
    /* width: 400px; */
    margin-left: 10px;
    color: #383838;
    display: none;
}

@media screen  and (min-width: 768px) {
    .descr {
        display: block;
        margin-left: 40px;
        width: 200px;
        font-size: 12px;
    }
}

@media screen  and (min-width: 1280px) {
    .descr {
        display: block;
        margin-left: 60px;
        width: 400px;
        font-size: 16px;
    }
}

.select {
    margin-left: 40px;
    display: none;
}
@media screen  and (min-width: 550px) {
    .select {
        margin-left: 40px;
        display: block;
    }
}

@media screen  and (min-width: 768px) {
    .select {
        margin-left: 40px;
        /* display: block; */
    }
}

@media screen  and (min-width: 1280px) {
    .select {
        margin-left: 60px;
    }
}

.topicBox {
    width: 150px;
    /* margin-right: 150px; */
}

@media screen  and (min-width: 550px) {
    .topicBox {
        width: 230px;
        margin-right: 150px;
    }
}

@media screen  and (min-width: 768px) {
    .topicBox {
        width: 300px;
        margin-right: 200px;
    }
}

@media screen  and (min-width: 1280px) {
    .topicBox {
        width: 350px;
        margin-right: 300px;
    }
}

.topics {
    display: flex;
    flex-direction: column;
}

@media screen  and (min-width: 768px) {
    .topics {
        flex-direction: row;
    }
}


.moreBtn {
    margin-left: 10px;
    border-style: none;
    background-color: transparent;
    color: #3861FB;
    cursor: pointer;
}

@media screen  and (min-width: 768px) {
    .moreBtn {
        margin-left: auto;
    }
}


@media screen  and (min-width: 1280px) {
    .moreBtn {
        margin-left: auto;
    }
}

.wrapper {
    display: flex;
    width: 430px;
}

.switch {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background-color: #707070;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

@media screen  and (min-width: 550px) {
    .switch {
        margin-left: 0;
    }
}

.switch:checked {
    background-color: #3861FB;
}

.switch::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px  5px rgba(0, 0, 0, .2);
}

.switch:checked::before {
    left: 22px;
}


.btnReset {
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    background-color: #F0F6FF;
    font-family: "Inter";
    font-size: 13px;
    color: #3861FB;
    margin-right: 20px;
    cursor: pointer;
}

.btnReset:hover {
    box-shadow: 10px 5px 5px #bacaf7;
}

@media screen  and (min-width: 768px) {
    .btnReset {
        font-size: 14px;
        width: 180px;
        height: 40px;
    }
}


@media screen  and (min-width: 1280px) {
    .btnReset {
        font-size: 16px;
        width: 210px;
        height: 50px;
    }
}

.btnSave {
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    background-color: #3861FB;
    font-family: "Inter";
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}

.btnSave:hover {
    box-shadow: 10px 5px 5px #8ca8ef;
}

@media screen  and (min-width: 768px) {
    .btnSave {
        font-size: 14px;
        width: 180px;
        height: 40px;
    }
}


@media screen  and (min-width: 1280px) {
    .btnSave {
        font-size: 16px;
        width: 210px;
        height: 50px;
    }
}

.selectPeriod {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-color: #9a9a9a
}

@media screen  and (min-width: 768px) {
    .selectPeriod {
        width: 200px;
    }
}

@media screen  and (min-width: 1280px) {
    .selectPeriod {
        width: 230px;
    }
}

.closeSvg {
    width: 10px;
    height: 10px; 
    fill: #9a9a9a;
    
}

.btnWrap {
    display: flex;
    margin-bottom: 20px;
}



.titleF {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .titleF {
        font-size: 40px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .titleF {
        font-size: 60px;
        margin-bottom: 23px;
    }
}

.descrF {
font-family: 'Inter';
line-height: 1.4;
font-size: 16px;
font-weight: 400;
}

@media screen and (min-width: 768px) {
    .descrF {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .descrF {
        font-size: 22px;
    }
}

.thumbF {
    margin-bottom: 55px;
}

.infoSvg {
    fill: #a3a1a1;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    cursor: pointer;
}



.spanInfo {
    display: flex;
    align-items: baseline;
    position: relative;
    
}

.infoModal {
    display: none;
    align-items: center;
    padding-left: 10px;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    background-color: #383838;
    position:absolute;
    top: -23px;
    left: 210px;
    z-index: 2;
}

.infoModal::before{
    content: '';
    width: 16px;
    height: 16px;
    top: 25px;
    left: -8px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #383838;
}

.infoText {
    font-family: 'Roboto';
    color: #fff;
    font-size: 12px;
}

.infoSvg:hover ~.infoModal{
    display: flex;
}

